body {
	font-family: 'Montserrat', sans-serif;
	color: rgba(0,0,0,.6);
	background: linear-gradient(to right, red, yellow);
	text-transform: uppercase;
	letter-spacing: .5em;
	text-align: center;
	top: 15%;
}

h1 {
	font: 600 3.5em 'Montserrat' sans-serif;
	width: 100%;
}


h3 {
	font: 900 1m 'Montserrat' sans-serif;
	text-transform: none;
}